<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
        </button> <%= link_to "Everything I Visited!", root_path, class: 'navbar-brand' %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
            <li class='nav-item'><%= link_to 'MySafari', animals_path, class: 'nav-link' %></li>

                </li>
            </ul>
        </div>
    </div>
</nav>